@import url('./variables.css');

main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 1rem;
    background-color: #000;
    color: #fff;
}

.menu-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.menu-item__header {
    color: var(--red);
}

.panel {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.square {
    border: 1px solid var(--red);
    width: 150px;
    height: 150px;
    background-color: var(--bg);
}

.enemy {
    background-color: var(--red);
}