@import url('./variables.css');

main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('../images/wall.png') repeat;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border-bottom: 5px solid var(--line);
}

.menu-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.menu-item__header {
    color: var(--red);
    text-transform: uppercase;
}

.menu-lives {
    flex-direction: row;
}

.menu-item__icon {
    height: 60px;
}

.panel {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.square {
    border: 1px solid var(--red);
    width: 150px;
    height: 150px;
    background-color: var(--bg);
}

.enemy {
    background: var(--bg) url('../images/ralph.png') no-repeat center;
    background-size: cover;
}